@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./fonts.css);

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

.text-bg {
	background: linear-gradient(
		90deg,
		#920aa8 2%,
		#e019cc 20%,
		#ff81e3 48%,
		#fc75d6 52%,
		#df55f6 60%,
		#e822ec 71%,
		#e80f91 75%,
		#ee19d8 81.25%,
		#fe3873 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.border-bg {
	border: double 2px transparent;
	border-radius: 100px;
	background-image: linear-gradient(#380d41,#380d41),
		linear-gradient(
			90deg,
			#920aa8 2%,
			#e019cc 20%,
			#ff81e3 48%,
			#fc75d6 52%,
			#df55f6 60%,
			#e822ec 71%,
			#e80f91 75%,
			#ee19d8 81.25%,
			#fe3873 100%
		);
	background-origin: border-box;
	background-clip: padding-box, border-box;
}
